# Быстрый веб-фреймворк для создания API
fastapi
# ASGI-сервер для запуска FastAPI-приложения
uvicorn[standard]
# Официальный SDK от AWS для работы с S3 (подойдет и для MinIO/Яндекс.Облака)
boto3
# Современный асинхронный драйвер для работы с PostgreSQL
asyncpg
# Библиотека для загрузки переменных окружения из .env файла
python-dotenv
